@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 5rem;
	--sidebar-width: 20rem;
	--scrollbar-width: 15px; /* Default to Chrome scrollbar width */

	--text: #1a2e05;
	--background: #ecfccb;
	--elevated: #f7fee7;
	--elevated-hsla: hsla(78, 92%, 95%, 0.8);
	--hover: #d9f99d;
	--primary: #bef264;
	--primary-accent: #65a30d;
}

[data-theme="dark"] {
	--text: #fee2e2;
	--background: #1c1917;
	--elevated: #292524;
	--elevated-hsla: hsla(12, 6%, 15%, 0.8);
	--hover: #431407;
	--primary: #9a3412;
	--primary-accent: #ea580c;
}

html::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

html::-webkit-scrollbar-track {
	background-color: var(--elevated);
	border-left: 1px solid var(--primary);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}

body {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	background-color: var(--background);
}

*,
*::before,
*::after {
	transition: 200ms ease-in-out all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
svg,
button,
input,
i {
	color: var(--text);
}

p {
	max-width: 50em;
}
